.screen-reader-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

/* Header */
.header-content {
    display: flex;
    justify-content: space-between;
    height: 100%;
    position: relative;
}

.navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eee;
    background-color: #fff;
    height: 64px;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.logo {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 100%;
}

.logo-text {
    font-family: 'Binggrae', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
}

.nav-menu {
    padding-left: 225px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.nav-menu a {
    display: block;
    padding: 8px 16px;
    border-radius: 4px;
    color: #333;
    font-size: 0.875rem;
}

.nav-menu a:hover {
    color: #555;
}

.nav-menu a.on{
    color: #7F56D9;
}

/* 로그인 전 */
.nav-actions {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: relative;
}

.nav-actions a {
    font-size: 0.75rem;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    color: unset;
}

.login-btn:hover{
    background-color: #f7f8fb;
}

.join-btn {
    background-color: #000;
    color: #fff !important;
}

/* 로그인 후 */
.btn {
    padding: 8px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.notification-btn, .profile-btn {
    background-color: #f2f4f9;
    color: #333;
    border-radius: 50%;
}

.notification-btn img {
    width: 24px;
    height: 24px;
}

.profile-btn img{
    width:20px;
    height:20px;
}

/* 프로필 클릭시 */
.dropdown-mymenu .profile-img{
    width:42px;
    height:42px;
    border-radius: 50%;
    object-fit: cover;
}
.dropdown-mymenu .profile-info{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    border-bottom:1px solid #F2F4F7;
}

.dropdown-mymenu .nickname{
    color:#344054;
    font-size:0.85rem;
    font-weight: bold;
}

.dropdown-mymenu .grade{
    color:#667085;
    font-size:0.75rem;
    margin-top: 4px;
}

#profile-dropdown {
    display: none;
}

#profile-dropdown.show {
    display: block;
}

.dropdown-mymenu{
    position: absolute;
    top: 60px;
    right: 0;
    background: white;
    border: 1px solid #F2F4F7;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    display: none;
    flex-direction: column;
    min-width: 240px;
    z-index: 1001;
    overflow: hidden;
}

.dropdown-mymenu a {
    display: flex;
    padding: 12px 16px;
    color: #344054;
    text-decoration: none;
    width: 100%;
    align-items: center;
    gap: 12px;
}

.dropdown-mymenu a:last-child{
    border-top:1px solid #F2F4F7;
}

.dropdown-mymenu a img{
    width:18px;
    height:18px;
}

.dropdown-mymenu a:hover {
    background-color: #f5f5f5;
}
/* Body */
.content{
    padding-bottom: 80px;
}

.container {
    width: 100%;
    padding-right:0 !important;
    padding-left:0 !important;
}

/* 상세페이지 form */
h3.section-title{
    font-size: 1.125rem;
    font-weight: bold;
}

.page-form{
    padding:40px 0px 120px;
}

.title-area h1{
    font-size: 1.125rem;
}

/* 이미지 업로드 미리보기 UI */
.image-upload-box {
    width: 200px;
    height: 200px;
    border: 2px dashed #ccc;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    background-color: #f9f9f9;
    position: relative;
}

.image-upload-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image-upload-box::after {
    content: '+';
    font-size: 3rem;
    color: #aaa;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
}

.image-upload-box.has-image::after {
    content: '';
}

#imageInput {
    display: none;
}

/*  작성 버튼 */
.write-link{
    position: fixed;
    bottom: 6rem;
    right: 2rem;
    background-color: #7F56D9;
    color: white;
    padding: 12px 18px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.write-link:hover{
    transform:scale(1.04);
    color:white;
}

.filter-area select{
    width:120px;
    margin-left: auto;
}

/* Footer */
.footer{
    padding: 24px 0;
    border-top: 1px solid #ddd;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    z-index: 10;
}