<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
  <meta charset="UTF-8">
  <title>냉장고를 부탁해 - 커뮤니티</title>
  <!--공통 stylesheet -->
  <link rel="stylesheet" th:href="@{/css/base.css}">
  <link rel="stylesheet" th:href="@{/css/reset.css}">
  <link rel="stylesheet" th:href="@{/css/common.css}">
  <!--마이페이지 css -->
  <link rel="stylesheet" th:href="@{/css/profile.css}">
</head>
<body>
<div th:replace="fragments/header :: header"></div>

<div class="container">
  <div class="profile-section">
    <img th:src="@{${user.getProfileImageUrl()}}" alt="프로필" class="profile-img">
    <div class="profile-info">
      <h2 th:text="${user.getNickname()}"></h2>
      <p th:text="${user.userLevel.displayName}"></p>
      <p>ID: <span th:text="${user.getLoginId()}"></span></p>
      <p>이메일: <span th:text="${user.getEmail()}"></span></p>
      <div class="stats">
        <span>Posts <span th:text="${totalPostCount}"></span></span>
        <span>Comments <span th:text="${user.getCommentsCount()}"></span></span>
        <span>Points <span th:text="${user.getPoints()}"></span></span>
      </div>
      <div class="btn-group">
        <button>내가 쓴 글</button>
        <button>북마크</button>
      </div>
    </div>
  </div>

  <div class="activity">
    <div class="card">
      <h3>작성한 글</h3>
      <ul>
        <li th:each="item : ${postCounts}">
          <span th:text="${item.category.displayName}"></span>
          <span th:text="${item.postCount}"></span>개
        </li>
      </ul>
    </div>

    <div class="card">
      <h3>활동 내역</h3>
      <ul>
        <li><span>댓글</span><span th:text="${user.getCommentsCount()}"></span></li>
        <li><span>좋아요</span></li>
        <li><span>활동 점수</span><span th:text="${user.getPoints()}"></span></li>
      </ul>
    </div>
  </div>
</div>
<div>
  <a href="/modifyprofile" style="text-decoration: none">
    <button class="btn-save">회원정보 수정</button>
  </a>
</div>

<div th:replace="fragments/footer :: footer"></div>

<script src="/js/common.js"></script>
</body>
</html>